<div class="container admin-login-form-container">
  <mat-card class="row p-4">
    <div class="col-12 admin-login-main-header">
      <h2>RESET PASSWORD</h2>
    </div>
    <div class="col-12 admin-login-sub-header">
      <p>Enter new password to complete your password recovery process.</p>
    </div>
    <div class="col-12 admin-login-form-wrapper">
      <!--          <form>-->
      <form (ngSubmit)="onSubmit()" [formGroup]="resetPwForm">
        <div class="row">
          <div class="col-12">
            <div class="form-group password-container">
              <label class="label">Password</label>
              <input [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" autocomplete="off"
                     class="form-control" formControlName="password" placeholder="Enter New password" [type]="showPassword ? 'text' : 'password'"/>
              <div *ngIf="resetPwForm.touched && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">Password must have minimum 12 character</div>
              </div>
              <div class="eye-container">
                <mat-icon (click)="showPassword = !showPassword"
                          [class.hide]="showPassword">visibility
                </mat-icon>
                <mat-icon (click)="showPassword = !showPassword"
                          [class.hide]="!showPassword">visibility_off
                </mat-icon>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group password-container">
              <label class="label">Confirm Password</label>
              <input [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" aoutocomplete="off"
                     class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" [type]="showConPassword ? 'text' : 'password'"/>
              <div *ngIf="resetPwForm.touched && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
                <div *ngIf="f['confirmPassword'].errors['minlength']">Confirm Password must have minimum 12 character
                </div>
                <div *ngIf="f['confirmPassword'].errors['confirmPasswordValidator']">Password and Confirm Password
                  didn't match
                </div>
              </div>
              <div class="eye-container">
                <mat-icon (click)="showConPassword = !showConPassword"
                          [class.hide]="showConPassword">visibility
                </mat-icon>
                <mat-icon (click)="showConPassword = !showConPassword"
                          [class.hide]="!showConPassword">visibility_off
                </mat-icon>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2 w-100">
            <button
                    class="d-flex btn btn btn-secondary primary-btn w-100 justify-content-center"
                    type="submit">
              Reset Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
<ngx-spinner type="timer" size="medium" [fullScreen] = "true">
</ngx-spinner>
