/* Main Navigation Variables */
$nav-collapsed-width: 67px;
$nav-collapsed-height: 64px;
$nav-expanded-width: 275px;
$nav-expanded-height: 275px;
$nav-header-height: 64px;
$nav-img-height: 64px;
$nav-menu-height: 48px;
$nav-main-header-font-size: 32px;
$nav-menu-font-size: 16px;
$nav-sub-menu-font-size: 14px;
$nav-footer-font-size: 11px;
$nav-menu-indent: 20px;

/* Common Variables */
$form-font-size: 14px;
$btn-font-size: 14px;
$common-font-size: 14px;
$h2-font-size: 24px;

