<app-breadcrumb [data]="breadcrumbData"></app-breadcrumb>
<div class="row">
  <div class="col-lg-4">
    <mat-card class="card">
      <form [formGroup]="userForm">
        <!-- <div class="row pb-2">
          <div class="col-lg-12">
            <div class="common-label">Email *</div>
            <mat-form-field class="w-100" appearance="outline">
              <input matInput type="text" placeholder="Email" value="" name="email" formControlName="email"
                autocomplete="off">
              <mat-error *ngIf="userForm.controls['email'].hasError('required')">
                Email is Required
              </mat-error>
            </mat-form-field>
          </div>
        </div> -->
        <div class="row pb-2">
          <div class="col-lg-12">
            <div class="common-label">New Password *</div>
            <mat-form-field class="w-100" appearance="outline">
              <div class="d-flex">
                <input class="input-user-name" placeholder="New Password" matInput formControlName="new_password"
                  autocomplete="off" [type]="showOldPassword ? 'text' : 'password'">
                <div class="eye-container">
                  <mat-icon (click)="showOldPassword = !showOldPassword">
                    {{!showOldPassword ? 'visibility_off' :'visibility'}}
                  </mat-icon>
                </div>
              </div>
              <mat-error *ngIf="userForm.controls['new_password'].hasError('required')">
                Password is Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row pb-2">
          <div class="col-lg-12">
            <div class="common-label">Re-Type New Password *</div>
            <mat-form-field class="w-100" appearance="outline">
              <div class="d-flex">
                <input class="input-user-name" placeholder="Re-Type New Password" matInput
                  formControlName="re_type_new_password" autocomplete="off"
                  [type]="showOldPassword ? 'text' : 'password'">
                <div class="eye-container">
                  <mat-icon (click)="showOldPassword = !showOldPassword">
                    {{!showOldPassword ? 'visibility_off' :'visibility'}}
                  </mat-icon>
                </div>
              </div>
              <mat-error *ngIf="userForm.controls['re_type_new_password'].hasError('required')">
                Re-Type Password is Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <button type="submit" class="update-btn" (click)="updatePassword()">Update Password</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
