.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.icon {
  text-align: center;
  font-size: 100px;
  height: 100%;
  width: 100%;
}

.change-password-btn {
  width: 35%;
}
