<div class="container admin-login-form-container">
  <mat-card class="row p-4">
    <div class="col-12 admin-login-main-header">
      <h2>FORGOT PASSWORD?</h2>
    </div>
    <div class="col-12 admin-login-sub-header">
      <p>Enter the email associated with your account and we'll send an email with instructions to reset your
        password.</p>
    </div>
    <div class="col-12 admin-login-form-wrapper">
      <!--          <form>-->
      <form (ngSubmit)="onSubmit()" [formGroup]="forgotPwForm">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label class="label">Email</label>
              <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" autocomplete="off"
                     class="form-control" formControlName="email" placeholder="Your email" type="text"/>
              <div *ngIf="forgotPwForm.touched && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is in invalid format</div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2 w-100">
            <button
                    class="d-flex btn btn btn-secondary primary-btn w-100 justify-content-center"
                    type="submit">
              Reset from here
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 d-flex justify-content-center">
      <p class="pt-3">Go Back?
        <a [routerLink]="['/public/login']"><strong class="color-primary">Sign in</strong></a>
      </p>
    </div>
  </mat-card>
</div>
<ngx-spinner type="timer" size="medium" [fullScreen] = "true">
</ngx-spinner>
