/* Main Navigation Variables */
$nav-top-bar-bg-color: #F5F5F5;
$nav-menu-separator-color: #F5F5F5;
$nav-header-bg-color: #002c6d;
$nav-menu-active-bg-color: #DDDDDD;
$nav-menu-hover-bg-color: #DDDDDD;
$nav-footer-bg-color: #DDDDDD;
$nav-menu-default-bg-color: rgba(0, 0, 0, 0.04);

$nav-bar-color: #002c6d;

/* Font Variables */
$main-font-color: #616161;
$common-font-color: #CCCCCC;

/* Common Variables */
$common-color-white: #F5F5F5;
$common-color-black: #000000;
$common-bg-color-light: #F5F5F5;
$common-bg-color-dark: #DDDDDD;
$common-bg-color-black: #000000;
$common-border-color: #CCCCCC;
$common-footer-color: #CCCCCC;
$auth-btn-color: #616161;
$error-message-color: #bb0000;
$error-input-border-color: #bb0000;
$ngx-loader-color: #adadad;
$scroll-bar-color: #BBBBBB;
$scroll-bar-bg-color: #CCCCCC;
$common-btn-color: #616161;
$common-save-btn: #6c757d;
$common-update-btn: #0d6efd;
